body {
  font-family: john-doe, sans-serif;
  font-style: normal;
  font-weight: 700;
  margin: 0 auto;
  width: 960px;
  color: #333;
  display: flex;
  flex-direction: column;
}

.container {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2em 0 0 0;
  flex: 1 0 auto;
}

.header {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  margin: 0em 0em 1em 0em;
  display: block;
  text-align: center;
}

p {
  font-size: 1.5em;
}

ol {
  font-size: 1.5em;
  list-style-type: decimal;
}

li {
  margin: 0em 0em 0em 1.5em;
}

img {
  display: none;
  width: 100%;
}

.button {
  background-color: #d9ac55;
  display: block;
  width: 7em;
  padding: .2em;
  font-size: 1.5em;
  line-height: 1.5em;
  height: 1.5em;
  text-align: center;
  margin: 2em auto;
  cursor:pointer
}

.button:hover {background-color: #FFD47D}

.button:active {
  background-color: #FFD47D;
  box-shadow: 0 2px #59503E;
  transform: translateY(2px);
}

.toggle {
  float: right;
  cursor:pointer
}

.footer p {
  font-size: 10px;
  width: 960px;
  flex-shrink: 0;
  margin-top: 5em;
}

